/* Media Queries */
@media screen and (max-width: 500px) {
  * {
    font-size: 5px;
  }

  /* img {
      margin-left: 70px;
      border: black solid 1px;
      border-radius: 250px;
      background: linear-gradient(#86bcfa, #3a92f6, #5eec59);
      background-attachment: fixed;
      height: 40vh;
      width: 40vw;
    } */

  .display {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(11, 12%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .header {
    display: grid;
    grid-area: 1 / 14 / 1 / 1;
    border-bottom: black solid 2px;
  }

  .left {
    display: grid;
    grid-area: 2 / 1 / 13 / 8;
    background: #ffffffa3;
  }

  .right {
    display: grid;
    grid-area: 4 / 8 / 11 / 13;
    align-content: space-between;
    border-radius: 14px;
  }
}
