.display {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header {
  display: grid;
  grid-area: 1 / 1 / 2 / 7;
}
.left {
  display: grid;
  grid-area: 2 / 1 / 5 / 4;
}
.right {
  display: grid;
  grid-area: 2 / 4 / 5 / 7;
}
.footer {
  display: grid;
  grid-area: 5 / 1 / 6 / 7;
}
