* {
  font-family: "Nunito", sans-serif;
}
/* Body Styling */

body {
  background: linear-gradient(#86bcfa, #3a92f6, #5eec59);
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 90vh;
}

.display {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(11, 12%);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header {
  display: grid;
  grid-area: 1 / 14 / 1 / 1;
  border-bottom: black solid 2px;
}

.left {
  display: grid;
  grid-area: 1 / 1 / 13 / 8;
  background: #ffffffa3;
}

img {
  margin-left: 70px;
  border: black solid 1px;
  border-radius: 250px;
  background: linear-gradient(#86bcfa, #3a92f6, #5eec59);
  background-attachment: fixed;
}
.pull {
  /* margin-top: -150px; */
  margin-left: 100px;
  font-size: 24px;
}

.right {
  display: grid;
  grid-area: 4 / 7 / 10 / 12;
  background: #e1dcdca3;
  align-content: space-between;
  box-shadow: #00000075 10px 10px;
  border-radius: 14px;
}

.footer {
  display: grid;
  grid-area: 5 / 1 / 6 / 7;
}

/* Nav Bar*/

.hero-image {
  background-image: url("images/groupheroimage.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50vh;
}

body {
  font-family: "Nunito", sans-serif;
}

.logo {
  color: black;
  margin-left: 30px;
}
/* Nav Bar */
a {
  text-decoration: none;
  list-style: none;
  color: black;
}

#ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: right;
  align-items: stretch;
  align-content: stretch;
  padding: 10px;
}

.header-color {
  color: black;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: right;
  align-items: stretch;
  align-content: stretch;
  padding: 10px;
}

li {
  text-decoration: none;
  list-style: none;
  padding: 10px;
  font-size: 20px;
}

#ul li a {
  text-decoration: none;
  list-style: none;
  color: black;
}

/* Form Styling */
form {
  margin-left: 60px;
  margin-top: -400px;
}

input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  font-size: 18px;
}

label {
  font-size: 18px;
}
.text1 {
  display: grid;
  grid-area: 3 / 12 / 9 / 7;
  background: #ffffffa3;
}

form input {
  text-decoration: none;
}

.submit {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  margin-left: 125px;
}

/* Header */
h1 {
  margin-left: 150px;
}

.left-h1 {
  margin-top: 200px;
  font-size: 34px;
  font-weight: 100;
}
