body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

header {
  font-size: 24px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  background: -webkit-linear-gradient(#86bcfa, #3a92f6, #5eec59);
  font-weight: bolder;
}

main {
  font-size: 19px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  background-color: #dddddd;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 25px;
}

section {
  width: 45vw;
  border-style: double;
  border-color: #3a92f6;
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #86bcfa;
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-style: solid;
  padding: 5px;
  background-color: white;
}

.info {
  width: 35vw;
  margin-left: 5px;
  margin-right: 5px;
}

mark {
  background-color: #5eec59;
  font-weight: bolder;
}

h2 {
  font-size: 18px;
  font-family: "Nunito", sans-serif;
}

p {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
}

button {
  background-color: white;
  border: 1px solid #3a92f6;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}

/* extra-small devices */
@media (max-width: 600px) {
  header {
    font-size: 20px;
    text-align: center;
  }

  main {
    font-size: 18px;
    text-align: center;
  }

  .events {
    width: 100vw;
    margin: 0;
    row-gap: 10px;
  }

  .info {
    width: 50vw;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  section {
    width: 80vw;
    padding: 5px;
    display: flex;
    justify-content: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 75px;
    height: 75px;
  }

  .info {
    /*width: 100vw;*/
    text-align: center;
  }
}

/* large & extra-large devices */
@media (min-width: 1000px) {
  header {
    font-size: 24px;
    text-align: center;
  }

  main {
    font-size: 22px;
    text-align: center;
  }

  .events {
    width: 100vw;
    margin: 0;
    row-gap: 10px;
  }

  section {
    width: 80vw;
    padding: 5px;
    display: flex;
    justify-content: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 125px;
    height: 125px;
    padding: 10px;
  }

  p {
    width: 45vw;
    font-size: 18px;
  }

  .info {
    width: 50vw;
  }
}
