body {
  background: linear-gradient(#86bcfa, #3a92f6, #5eec59);
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");

/* Navigation Bar */
header li a {
  display: flex;
  flex-direction: row;
  display: list-item;
  list-style: none;
  padding: 2px;
  margin: 0px;
  text-decoration: none;
  color: rgb(44, 62, 13);
  font-size: 50px;
  font-family: "Homemade Apple", cursive;
  text-transform: capitalize;
}

ul {
  display: list-item;
  list-style: none;
}

.link a:hover {
  color: rgb(242 255 218);
}

.link ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.link ul li a {
  padding: 5px;
  margin: 13px;
  text-decoration: none;
  font-size: 30px;
  color: rgb(44, 62, 13);
  font-family: "Nunito", sans-serif;
  text-transform: lowercase;
}

/* Hero image */
.image {
  background-image: url("aboutusheroimage.jpeg");
  background-size: 100%;
  background-position: center;
  height: 300px;
  width: 100vw;
}

/* Hero Image Text */
.mainheading {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: rgb(44, 62, 13);
  top: 42%;
  right: 20%;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 40px;
  border-radius: 4px;
  padding: 10px 20px 10px 10px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.5);
}

/*Text Box One*/
.container {
  position: relative;
}

.text-block {
  position: absolute;
  top: -73px;
  left: 5px;
  background: rgba(0, 9, 50, 0.2);
  font-size: 20px;
  color: white;
  margin: 100px;
  padding: 10px 40px 10px 40px;
  width: 33vw;
  height: 100vh;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  text-align: left;
}

.subheading1 {
  text-align: justify;
  font-size: 19px;
}

/*Text Box Two*/
.container {
  position: relative;
}

.text-block2 {
  position: absolute;
  top: -73px;
  right: -3px;
  background: rgba(0, 9, 50, 0.2);
  font-size: 20px;
  color: black;
  margin: 100px;
  padding: 10px 40px 10px 40px;
  width: 33vw;
  height: 103vh;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  text-align: left;
}

/*Footer */

.socialmedia {
  text-align: center;
}

#facebook,
#twitter,
#instagram,
#snapchat {
  padding: 13px;
  font-size: 30px;
  width: 64px;
  text-decoration: none;
  margin: 15px;
  border-radius: 10px;
  text-align: center;
}

.fa-facebook {
  background: #00000080;
  color: white;
}
.fa-twitter {
  background: #00000080;
  color: white;
}
.fa-instagram {
  background: #00000080;
  color: white;
}
.fa-snapchat {
  background: #00000080;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
